@tailwind base;
@tailwind components;
@tailwind utilities;

.page-number {
  font-size: 30px;
  color: white;
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.page-active {
  background-color: white;
  color: black;
}
* {
  background-color: #06090e;
}

.s-green {
  @apply shadow-lime-500/75 p-2 border-2 shadow-lg;
}
.s-red {
  @apply shadow-red-600/75 p-2 border-2 shadow-lg;
}
.s-white {
  @apply shadow-slate-50/75 p-2  border-2 shadow-lg;
}
